/CommitScopeEnum.r
/IBusinessEntity.r
/IGetDataRequest.r
/IGetDataResponse.r
/IGetDataTableRequest.r
/IGetDataTableResponse.r
/IGetResultCountResponse.r
/IGetTableResultCountResponse.r
/INamedQuery.r
/INamedQueryParameter.r
/IQueryDefinition.r
/IQueryEntry.r
/IQueryGroup.r
/IQueryPredicate.r
/IQuerySortEntry.r
/ISupportNamedOperations.r
/IUpdatableBusinessEntity.r
/IUpdateDataRequest.r
/JoinEnum.r
/QueryOperatorEnum.r
/SortOrderEnum.r
