/ICharacterArrayHolder.r
/ICharacterHolder.r
/IDateArrayHolder.r
/IDateHolder.r
/IDateTimeArrayHolder.r
/IDateTimeHolder.r
/IDateTimeTzArrayHolder.r
/IDateTimeTzHolder.r
/IDecimalArrayHolder.r
/IDecimalHolder.r
/IHandleArrayHolder.r
/IHandleHolder.r
/IInt64ArrayHolder.r
/IInt64Holder.r
/IIntegerArrayHolder.r
/IIntegerHolder.r
/ILogicalArrayHolder.r
/ILogicalHolder.r
/ILongcharArrayHolder.r
/ILongcharHolder.r
/IMemptrArrayHolder.r
/IMemptrHolder.r
/IPrimitiveArrayHolder.r
/IPrimitiveHolder.r
/IRowidArrayHolder.r
/IRowidHolder.r
